.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 60vh;
  width: 100%;
}
.map {
  display: block;
  height: 100%;
  width: 100%;
}
.marker {
  background-image: url("https://i.imgur.com/oz3r3Wq.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  background-color: yellow;
  border: 2px solid black;
}
.marker-delivery {
  background-image: url("https://i.hizliresim.com/kawr4dq.jpg");
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  background-color: red;
  border: 2px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
